# Environment variables
config/.env

# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
data/db/
data/uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
